<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title> moja strona </title>
    <meta name="author" content="Mateusz Fiolek">
    <meta name="description" content="The HTML hello world">
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>

<body>
<h1>Aktualni Klienci</h1>
<div id="container">

    <button type="button" class="btn btn-danger">powrót do menu</button>
    <br>
    <div>

        <br>
        <div class="row">
            <label for="exampleFormControlSelect1">Sortuj:</label>
            <select class="form-control col" id="exampleFormControlSelect1">
                <option>Nazwa firmy</option>
                <option>Miejscowość</option>
                <option>Ulica</option>
                <option>Telefon</option>

            </select>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa firmy</th>
                    <th scope="col">Miejscowość</th>
                    <th scope="col">Ulica</th>
                    <th scope="col">Telefon</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>----</td>
                    <td>----</td>
                    <td>----</td>
                    <td>----</td>
                    <td><button type="button" class="btn btn-danger">edytuj dane firmy</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>----</td>
                    <td>----</td>
                    <td>----</td>
                    <td>----</td>
                    <td><button type="button" class="btn btn-danger">edytuj dane firmy</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>----</td>
                    <td>----</td>
                    <td>----</td>
                    <td>----</td>
                    <td><button type="button" class="btn btn-danger">edytuj dane firmy</button></td>
                </tr>
                </tbody>
            </table>


            <br>
        </div>
    </div>



</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>